.aboutUs {
  padding: 10px;
  margin: 0 auto;
  text-align: justify;
  text-justify: inter-word;
}
.aboutUs p {
  height: fit-content;
}

@media only screen and (max-width: 900px) {
  .aboutUs p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .aboutUs p {
    font-size: 13px;
  }
}
